In [137]:
import numpy as np 
import pandas as pd 
import seaborn as sns  
import matplotlib.pyplot as plt

In [138]:
url = 'https://raw.githubusercontent.com/nawinpoyen7/MachineLearning/main/CustomerSegmentationClassification.csv'
df=pd.read_csv(url)
df.sample(20)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
1202,465499,Male,No,63,Yes,Artist,0.0,Low,1.0,Cat_6,A
292,459471,Female,No,32,No,Artist,NaN,Low,8.0,Cat_6,C
1431,462186,Female,No,21,No,Doctor,0.0,Low,3.0,Cat_1,D
5297,461046,Male,Yes,50,Yes,Artist,0.0,Low,1.0,Cat_6,B
3409,466687,Male,No,22,No,Healthcare,0.0,Low,3.0,Cat_6,D
4755,462522,Male,Yes,41,No,Executive,1.0,Average,5.0,Cat_4,B
764,459681,Female,Yes,32,Yes,Artist,0.0,Average,2.0,Cat_6,B
5489,462181,Female,No,32,Yes,Healthcare,8.0,Low,3.0,Cat_6,C
3334,467390,Male,Yes,46,Yes,Artist,0.0,Low,2.0,Cat_6,C
587,465155,Male,Yes,77,Yes,Lawyer,1.0,Low,1.0,Cat_6,C
4381,462242,Female,No,30,Yes,Entertainment,0.0,Low,5.0,Cat_1,D
1308,467467,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
5399,466073,Female,Yes,62,No,Engineer,8.0,High,2.0,Cat_4,A
1983,466120,Female,Yes,37,No,Marketing,0.0,Low,4.0,Cat_6,D
5719,461133,Male,No,23,No,Healthcare,1.0,Low,4.0,Cat_6,D
4238,462698,Female,Yes,56,Yes,Entertainment,1.0,Average,2.0,Cat_6,A
1723,461726,Female,Yes,53,Yes,Artist,1.0,Average,4.0,Cat_3,C
6935,467169,Male,No,53,Yes,Artist,0.0,Low,1.0,Cat_6,B
6591,465481,Female,No,28,No,Artist,1.0,Low,4.0,Cat_4,B
6678,462338,Male,Yes,43,Yes,Artist,9.0,Average,2.0,NaN,C

In [139]:
#ดูภาพรวมข้อมูล
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
ID                 8068 non-null int64
Gender             8068 non-null object
Ever_Married       7928 non-null object
Age                8068 non-null int64
Graduated          7990 non-null object
Profession         7944 non-null object
Work_Experience    7239 non-null float64
Spending_Score     8068 non-null object
Family_Size        7733 non-null float64
Var_1              7992 non-null object
Segmentation       8068 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.4+ KB

In [140]:
#แสดงหัวข้อในเเต่ละคอลัมน์ของฐานข้อมูล
df.columns

Index([u'ID', u'Gender', u'Ever_Married', u'Age', u'Graduated', u'Profession',
       u'Work_Experience', u'Spending_Score', u'Family_Size', u'Var_1',
       u'Segmentation'],
      dtype='object')

In [141]:
#แสดงข้อมุลทั้งหมด
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,NaN,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
...,...,...,...,...,...,...,...,...,...,...,...
8038,467036,Male,Yes,66,No,Lawyer,0.0,Low,1.0,Cat_6,B
8039,465306,Male,Yes,69,No,Executive,0.0,Average,4.0,Cat_2,D
8040,467165,Female,No,25,No,Homemaker,NaN,Low,1.0,Cat_6,D
8041,465789,Male,No,18,No,Healthcare,4.0,Low,4.0,Cat_4,D
8042,465422,Female,Yes,40,Yes,Artist,1.0,Average,2.0,Cat_6,C
8043,462049,Male,Yes,39,Yes,Artist,14.0,Average,2.0,Cat_6,B
8044,466997,Female,NaN,50,No,Engineer,1.0,Low,2.0,Cat_6,D
8045,465838,Female,Yes,52,No,Doctor,3.0,Average,2.0,Cat_6,A
8046,467379,Male,Yes,59,Yes,Entertainment,0.0,Average,2.0,Cat_6,B
8047,462396,Male,Yes,50,Yes,Doctor,NaN,Average,2.0,Cat_6,C
8048,465285,Female,Yes,32,No,Engineer,9.0,Low,4.0,Cat_6,D
8049,461292,Female,Yes,81,No,Lawyer,NaN,High,2.0,Cat_3,D
8050,466004,Male,Yes,52,Yes,Artist,0.0,Average,6.0,Cat_4,C
8051,464853,Male,Yes,39,No,Executive,8.0,Average,4.0,Cat_4,A
8052,467455,Female,No,37,Yes,Artist,8.0,Low,2.0,Cat_6,C
8053,465667,Male,No,23,No,Healthcare,1.0,Low,3.0,Cat_2,D
8054,463437,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,B
8055,461291,Male,No,18,No,Healthcare,0.0,Low,2.0,Cat_6,D
8056,459889,Male,Yes,63,Yes,Homemaker,8.0,Average,3.0,Cat_6,B
8057,466460,Male,Yes,85,No,Lawyer,1.0,Low,1.0,Cat_6,D
8058,460674,Female,No,31,Yes,Entertainment,0.0,Low,3.0,Cat_3,A
8059,460132,Male,No,39,Yes,Healthcare,3.0,Low,2.0,Cat_6,D
8060,463613,Female,Yes,48,Yes,Artist,0.0,Average,6.0,Cat_6,A
8061,465231,Male,Yes,65,No,Artist,0.0,Average,2.0,Cat_6,C
8062,463002,Male,Yes,41,Yes,Artist,0.0,High,5.0,Cat_6,B
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [142]:
# เช็คประเภทข้อมุล
df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [143]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [144]:
# นำเข้าคำสั่งสำหรับการสุ่มค่า
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Ever_Married
Ever_Married_Random = ["Yes", "No"]
df['Ever_Married'] = df['Ever_Married'].fillna(random.choice(Ever_Married_Random))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,NaN,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,NaN,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,NaN,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,NaN,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [145]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [147]:
# แปลงข้อมูล Ever_Married จาก Yes/No เป็น 1/0
df.replace(to_replace=['Yes', 'No'], value=[1, 0])

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,0,22,0.0,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,1,38,1.0,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,1,67,1.0,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,1,67,1.0,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,1,40,1.0,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,1,56,0.0,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,0,32,1.0,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,0,33,1.0,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,1,61,1.0,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,1,55,1.0,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,0,26,1.0,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,0,19,0.0,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,0,19,0.0,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,1,70,0.0,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,1,58,0.0,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,0,41,0.0,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,0,32,0.0,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,0,31,0.0,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,1,58,1.0,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,1,79,1.0,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,1,49,1.0,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,0,18,0.0,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,1,33,1.0,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,0,36,1.0,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,0,58,0.0,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,1,56,0.0,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,0,31,0.0,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,1,49,1.0,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,0,35,1.0,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,0,35,0.0,Artist,5.0,Low,4.0,Cat_6,C
...,...,...,...,...,...,...,...,...,...,...,...
8038,467036,Male,1,66,0.0,Lawyer,0.0,Low,1.0,Cat_6,B
8039,465306,Male,1,69,0.0,Executive,0.0,Average,4.0,Cat_2,D
8040,467165,Female,0,25,0.0,Homemaker,NaN,Low,1.0,Cat_6,D
8041,465789,Male,0,18,0.0,Healthcare,4.0,Low,4.0,Cat_4,D
8042,465422,Female,1,40,1.0,Artist,1.0,Average,2.0,Cat_6,C
8043,462049,Male,1,39,1.0,Artist,14.0,Average,2.0,Cat_6,B
8044,466997,Female,0,50,0.0,Engineer,1.0,Low,2.0,Cat_6,D
8045,465838,Female,1,52,0.0,Doctor,3.0,Average,2.0,Cat_6,A
8046,467379,Male,1,59,1.0,Entertainment,0.0,Average,2.0,Cat_6,B
8047,462396,Male,1,50,1.0,Doctor,NaN,Average,2.0,Cat_6,C
8048,465285,Female,1,32,0.0,Engineer,9.0,Low,4.0,Cat_6,D
8049,461292,Female,1,81,0.0,Lawyer,NaN,High,2.0,Cat_3,D
8050,466004,Male,1,52,1.0,Artist,0.0,Average,6.0,Cat_4,C
8051,464853,Male,1,39,0.0,Executive,8.0,Average,4.0,Cat_4,A
8052,467455,Female,0,37,1.0,Artist,8.0,Low,2.0,Cat_6,C
8053,465667,Male,0,23,0.0,Healthcare,1.0,Low,3.0,Cat_2,D
8054,463437,Male,1,49,1.0,Artist,1.0,Average,3.0,Cat_6,B
8055,461291,Male,0,18,0.0,Healthcare,0.0,Low,2.0,Cat_6,D
8056,459889,Male,1,63,1.0,Homemaker,8.0,Average,3.0,Cat_6,B
8057,466460,Male,1,85,0.0,Lawyer,1.0,Low,1.0,Cat_6,D
8058,460674,Female,0,31,1.0,Entertainment,0.0,Low,3.0,Cat_3,A
8059,460132,Male,0,39,1.0,Healthcare,3.0,Low,2.0,Cat_6,D
8060,463613,Female,1,48,1.0,Artist,0.0,Average,6.0,Cat_6,A
8061,465231,Male,1,65,0.0,Artist,0.0,Average,2.0,Cat_6,C
8062,463002,Male,1,41,1.0,Artist,0.0,High,5.0,Cat_6,B
8063,464018,Male,0,22,0.0,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,0,35,0.0,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,0,33,1.0,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,0,27,1.0,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,1,37,1.0,Executive,0.0,Average,3.0,Cat_4,B

In [149]:
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Graduated
Graduated_Random = ["Yes", "No"]
df['Graduated'] = df['Graduated'].fillna(random.choice(Graduated_Random))
df.head(30)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C

In [150]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [103]:
#replace NaN values in 'points' column with ''
# df.Professional = df.Professional.fillna('')

In [151]:
from random import *
# สุ่มใส่ตัวเลข 0 ถึง 15 ลงในช่องว่าง ของ column Work_Experience
df['Work_Experience'] = df['Work_Experience'].fillna(randint(0, 15))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,9.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,9.0,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,9.0,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,NaN,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,9.0,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,9.0,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,9.0,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [152]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession         124
Work_Experience      0
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [153]:
# แปลง 'High', 'Low', 'Average' ของ Spending_Score เป็น 2 1 0
df.replace(to_replace=['High', 'Low', 'Average'], value=[2, 1, 0])

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,1,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,9.0,0,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,1,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,2,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,9.0,2,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,0,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,1,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,1,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,1,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,0,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,1,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,1,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,1,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,9.0,1,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,1,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,1,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,1,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,1,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,0,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,2,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,1,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,1,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,1,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,1,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,0,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,0,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,1,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,0,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,1,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,1,4.0,Cat_6,C
...,...,...,...,...,...,...,...,...,...,...,...
8038,467036,Male,Yes,66,No,Lawyer,0.0,1,1.0,Cat_6,B
8039,465306,Male,Yes,69,No,Executive,0.0,0,4.0,Cat_2,D
8040,467165,Female,No,25,No,Homemaker,9.0,1,1.0,Cat_6,D
8041,465789,Male,No,18,No,Healthcare,4.0,1,4.0,Cat_4,D
8042,465422,Female,Yes,40,Yes,Artist,1.0,0,2.0,Cat_6,C
8043,462049,Male,Yes,39,Yes,Artist,14.0,0,2.0,Cat_6,B
8044,466997,Female,No,50,No,Engineer,1.0,1,2.0,Cat_6,D
8045,465838,Female,Yes,52,No,Doctor,3.0,0,2.0,Cat_6,A
8046,467379,Male,Yes,59,Yes,Entertainment,0.0,0,2.0,Cat_6,B
8047,462396,Male,Yes,50,Yes,Doctor,9.0,0,2.0,Cat_6,C
8048,465285,Female,Yes,32,No,Engineer,9.0,1,4.0,Cat_6,D
8049,461292,Female,Yes,81,No,Lawyer,9.0,2,2.0,Cat_3,D
8050,466004,Male,Yes,52,Yes,Artist,0.0,0,6.0,Cat_4,C
8051,464853,Male,Yes,39,No,Executive,8.0,0,4.0,Cat_4,A
8052,467455,Female,No,37,Yes,Artist,8.0,1,2.0,Cat_6,C
8053,465667,Male,No,23,No,Healthcare,1.0,1,3.0,Cat_2,D
8054,463437,Male,Yes,49,Yes,Artist,1.0,0,3.0,Cat_6,B
8055,461291,Male,No,18,No,Healthcare,0.0,1,2.0,Cat_6,D
8056,459889,Male,Yes,63,Yes,Homemaker,8.0,0,3.0,Cat_6,B
8057,466460,Male,Yes,85,No,Lawyer,1.0,1,1.0,Cat_6,D
8058,460674,Female,No,31,Yes,Entertainment,0.0,1,3.0,Cat_3,A
8059,460132,Male,No,39,Yes,Healthcare,3.0,1,2.0,Cat_6,D
8060,463613,Female,Yes,48,Yes,Artist,0.0,0,6.0,Cat_6,A
8061,465231,Male,Yes,65,No,Artist,0.0,0,2.0,Cat_6,C
8062,463002,Male,Yes,41,Yes,Artist,0.0,2,5.0,Cat_6,B
8063,464018,Male,No,22,No,NaN,0.0,1,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,1,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,1,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,1,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,0,3.0,Cat_4,B

In [154]:
from random import *
# สุ่มใส่ตัวเลข 0 ถึง 15 ลงในช่องว่าง ของ column Work_Experience
df['Family_Size'] = df['Family_Size'].fillna(randint(0, 15))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,9.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,9.0,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,12.0,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,9.0,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,12.0,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,9.0,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,9.0,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,9.0,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [118]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession         124
Work_Experience      0
Spending_Score       0
Family_Size          0
Var_1               76
Segmentation         0
dtype: int64

In [93]:
#แปลงประเภทข้อมูล
df['Family_Size'] = df['Family_Size'].astype('int64')
df['Work_Experience'] = df['Work_Experience'].astype('int64')
#df['Spending_Score'] = df['Spending_Score'].astype('int64')
#df['Var_1'] = df['Var_1'].astype('int64')
#df['Segmentation'] = df['sSegmentation'].astype('int64')

In [155]:
# เช็คประเภทข้อมุล
df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [157]:
# save ข้อมูลทั้งหมดให้เป็นประเภท .csv และ .xls
df.to_csv('Data Change.csv', index=False)
df.to_excel('Data Change.xls', index=False)