In [27]:
import numpy as np 
import pandas as pd 
import seaborn as sns  
import matplotlib.pyplot as plt

In [28]:
url = 'https://raw.githubusercontent.com/nawinpoyen7/MachineLearning/main/CustomerSegmentationClassification.csv'
df=pd.read_csv(url)
df.sample(20)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
2072,466736,Female,No,20,No,Healthcare,1.0,Low,NaN,Cat_6,D
371,465177,Female,No,60,Yes,Entertainment,1.0,Low,2.0,Cat_6,D
1203,464913,Male,Yes,52,Yes,Entertainment,0.0,Low,4.0,Cat_4,B
5933,461845,Female,Yes,48,Yes,Doctor,1.0,Average,4.0,Cat_6,C
597,461163,Female,Yes,60,No,Entertainment,9.0,Low,4.0,Cat_3,B
1972,465998,Female,No,40,Yes,Engineer,6.0,Low,3.0,Cat_6,D
745,459778,Male,Yes,48,Yes,Entertainment,0.0,Average,4.0,Cat_6,B
3215,466562,Female,No,18,No,Healthcare,5.0,Low,4.0,Cat_6,D
1335,466329,Female,Yes,39,NaN,Doctor,2.0,Low,1.0,Cat_3,A
4974,461268,Female,Yes,60,Yes,Artist,0.0,Average,2.0,Cat_4,B
1239,466302,Female,Yes,47,No,Homemaker,3.0,High,3.0,Cat_6,B
5010,467726,Male,Yes,82,Yes,Lawyer,0.0,High,2.0,Cat_6,C
7536,459446,Male,Yes,36,No,Entertainment,NaN,Average,3.0,Cat_6,C
3733,459919,Female,No,49,Yes,Artist,0.0,Low,1.0,Cat_4,B
6932,462752,Female,No,26,No,Healthcare,NaN,Low,1.0,Cat_6,D
7142,459265,Female,Yes,41,Yes,Artist,0.0,Average,2.0,Cat_6,C
8039,465306,Male,Yes,69,No,Executive,0.0,Average,4.0,Cat_2,D
7450,463464,Male,No,18,No,Healthcare,6.0,Low,4.0,Cat_6,D
5598,462584,Female,Yes,40,No,Entertainment,0.0,Low,4.0,Cat_4,D
504,467492,Female,Yes,57,Yes,Doctor,1.0,Low,2.0,Cat_7,A

In [29]:
#ดูภาพรวมข้อมูล
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
ID                 8068 non-null int64
Gender             8068 non-null object
Ever_Married       7928 non-null object
Age                8068 non-null int64
Graduated          7990 non-null object
Profession         7944 non-null object
Work_Experience    7239 non-null float64
Spending_Score     8068 non-null object
Family_Size        7733 non-null float64
Var_1              7992 non-null object
Segmentation       8068 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.4+ KB

In [30]:
#แสดงหัวข้อในเเต่ละคอลัมน์ของฐานข้อมูล
df.columns

Index([u'ID', u'Gender', u'Ever_Married', u'Age', u'Graduated', u'Profession',
       u'Work_Experience', u'Spending_Score', u'Family_Size', u'Var_1',
       u'Segmentation'],
      dtype='object')

In [31]:
#แสดงข้อมุลทั้งหมด
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,NaN,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
...,...,...,...,...,...,...,...,...,...,...,...
8038,467036,Male,Yes,66,No,Lawyer,0.0,Low,1.0,Cat_6,B
8039,465306,Male,Yes,69,No,Executive,0.0,Average,4.0,Cat_2,D
8040,467165,Female,No,25,No,Homemaker,NaN,Low,1.0,Cat_6,D
8041,465789,Male,No,18,No,Healthcare,4.0,Low,4.0,Cat_4,D
8042,465422,Female,Yes,40,Yes,Artist,1.0,Average,2.0,Cat_6,C
8043,462049,Male,Yes,39,Yes,Artist,14.0,Average,2.0,Cat_6,B
8044,466997,Female,NaN,50,No,Engineer,1.0,Low,2.0,Cat_6,D
8045,465838,Female,Yes,52,No,Doctor,3.0,Average,2.0,Cat_6,A
8046,467379,Male,Yes,59,Yes,Entertainment,0.0,Average,2.0,Cat_6,B
8047,462396,Male,Yes,50,Yes,Doctor,NaN,Average,2.0,Cat_6,C
8048,465285,Female,Yes,32,No,Engineer,9.0,Low,4.0,Cat_6,D
8049,461292,Female,Yes,81,No,Lawyer,NaN,High,2.0,Cat_3,D
8050,466004,Male,Yes,52,Yes,Artist,0.0,Average,6.0,Cat_4,C
8051,464853,Male,Yes,39,No,Executive,8.0,Average,4.0,Cat_4,A
8052,467455,Female,No,37,Yes,Artist,8.0,Low,2.0,Cat_6,C
8053,465667,Male,No,23,No,Healthcare,1.0,Low,3.0,Cat_2,D
8054,463437,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,B
8055,461291,Male,No,18,No,Healthcare,0.0,Low,2.0,Cat_6,D
8056,459889,Male,Yes,63,Yes,Homemaker,8.0,Average,3.0,Cat_6,B
8057,466460,Male,Yes,85,No,Lawyer,1.0,Low,1.0,Cat_6,D
8058,460674,Female,No,31,Yes,Entertainment,0.0,Low,3.0,Cat_3,A
8059,460132,Male,No,39,Yes,Healthcare,3.0,Low,2.0,Cat_6,D
8060,463613,Female,Yes,48,Yes,Artist,0.0,Average,6.0,Cat_6,A
8061,465231,Male,Yes,65,No,Artist,0.0,Average,2.0,Cat_6,C
8062,463002,Male,Yes,41,Yes,Artist,0.0,High,5.0,Cat_6,B
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [32]:
# เช็คประเภทข้อมุล
df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [33]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [34]:
# นำเข้าคำสั่งสำหรับการสุ่มค่า
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Ever_Married
Ever_Married_Random = ["Yes", "No"]
df['Ever_Married'] = df['Ever_Married'].fillna(random.choice(Ever_Married_Random))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,NaN,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,NaN,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,NaN,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,NaN,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [35]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [36]:
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Graduated
Graduated_Random = ["Yes", "No"]
df['Graduated'] = df['Graduated'].fillna(random.choice(Graduated_Random))
df.head(30)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C

In [37]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [38]:
# นับจำนวน Profession ได้ดังนี้
df.Profession.value_counts()

Artist           2516
Healthcare       1332
Entertainment     949
Engineer          699
Doctor            688
Lawyer            623
Executive         599
Marketing         292
Homemaker         246
Name: Profession, dtype: int64

In [39]:
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Profession
Profession_Random = ["Artist", "Healthcare", "Entertainment", "Engineer", "Doctor", "Lawyer", "Executive", "Marketing", "Homemaker"]
df['Profession'] = df['Profession'].fillna(random.choice(Profession_Random))
df.head(30)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C

In [40]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [41]:
from random import *
# สุ่มใส่ตัวเลข 0 ถึง 15 ลงในช่องว่าง ของ column Work_Experience
df['Work_Experience'] = df['Work_Experience'].fillna(randint(0, 15))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,2.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,2.0,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,2.0,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,NaN,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,2.0,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,2.0,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,2.0,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [42]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience      0
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [43]:
from random import *
# สุ่มใส่ตัวเลข 0 ถึง 15 ลงในช่องว่าง ของ column Work_Experience
df['Family_Size'] = df['Family_Size'].fillna(randint(0, 15))
df.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,2.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,2.0,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,13.0,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,2.0,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C
30,463331,Female,Yes,45,Yes,Artist,0.0,Low,3.0,Cat_6,C
31,462216,Female,Yes,42,No,Doctor,1.0,Low,2.0,Cat_4,A
32,462454,Male,No,19,No,Healthcare,1.0,Low,3.0,Cat_2,D
33,467010,Male,No,26,No,Homemaker,9.0,Low,13.0,Cat_6,D
34,459861,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6,D
35,467917,Female,No,27,Yes,Healthcare,3.0,Low,4.0,Cat_1,D
36,465572,Male,No,32,No,Doctor,5.0,Low,1.0,Cat_4,D
37,460593,Female,Yes,28,No,Healthcare,1.0,Average,5.0,Cat_3,D
38,465891,Female,Yes,28,Yes,Artist,8.0,Low,2.0,Cat_6,A
39,467442,Male,Yes,56,Yes,Artist,2.0,Average,2.0,Cat_6,C
40,462044,Female,No,47,Yes,Artist,4.0,Low,1.0,Cat_6,B
41,465686,Female,No,22,No,Healthcare,0.0,Low,2.0,Cat_6,D
42,464590,Female,No,27,Yes,Artist,14.0,Low,3.0,Cat_6,A
43,466006,Female,Yes,49,Yes,Artist,1.0,Low,2.0,NaN,C
44,466152,Male,Yes,40,No,Engineer,8.0,Low,1.0,Cat_6,A
45,463156,Female,Yes,79,No,Lawyer,2.0,High,2.0,Cat_6,A
46,465729,Male,Yes,41,Yes,Artist,0.0,Average,4.0,Cat_4,B
47,462384,Female,No,29,Yes,Healthcare,2.0,Low,1.0,Cat_7,A
48,462442,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6,D
49,464191,Female,No,45,Yes,Engineer,1.0,Low,1.0,Cat_6,A

In [44]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                  0
Gender              0
Ever_Married        0
Age                 0
Graduated           0
Profession          0
Work_Experience     0
Spending_Score      0
Family_Size         0
Var_1              76
Segmentation        0
dtype: int64

In [45]:
# นับจำนวน Var_1 ได้ดังนี้
df.Var_1.value_counts()

Cat_6    5238
Cat_4    1089
Cat_3     822
Cat_2     422
Cat_7     203
Cat_1     133
Cat_5      85
Name: Var_1, dtype: int64

In [46]:
import random
# สุ่มใส่ตัวหนังสือ Yes หรือ No ลงในช่องว่าง ของ column Profession
Var_1_Random = ["Cat_1", "Cat_2", "Cat_3", "Cat_4", "Cat_5", "Cat_6", "Cat_7"]
df['Var_1'] = df['Var_1'].fillna(random.choice(Var_1_Random))
df.head(30)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,2.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,2.0,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,13.0,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,2.0,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C
20,466084,Male,Yes,49,Yes,Homemaker,12.0,Low,1.0,Cat_3,A
21,459675,Female,No,18,No,Healthcare,3.0,Low,4.0,Cat_6,D
22,465602,Male,Yes,33,Yes,Artist,13.0,Low,2.0,Cat_3,A
23,459168,Female,No,36,Yes,Artist,5.0,Low,2.0,Cat_6,B
24,461021,Female,No,58,No,Executive,1.0,Average,3.0,Cat_3,B
25,465083,Male,Yes,56,No,Artist,1.0,Average,3.0,Cat_6,C
26,467604,Male,No,31,No,Healthcare,9.0,Low,8.0,Cat_4,A
27,459717,Male,Yes,49,Yes,Artist,1.0,Average,3.0,Cat_6,C
28,465882,Male,No,35,Yes,Artist,0.0,Low,1.0,Cat_6,B
29,461996,Female,No,35,No,Artist,5.0,Low,4.0,Cat_6,C

In [47]:
#บอกค่าที่หายไปในแต่ละcolumn
df.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [48]:
# เช็คประเภทข้อมุล
df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [49]:
#แปลงประเภทข้อมูล
df['Family_Size'] = df['Family_Size'].astype('int64')
df['Work_Experience'] = df['Work_Experience'].astype('int64')

In [56]:
# เช็คประเภทข้อมุล
df.dtypes

ID                  int64
Gender             object
Ever_Married       object
Age                 int64
Graduated          object
Profession         object
Work_Experience     int64
Spending_Score     object
Family_Size         int64
Var_1              object
Segmentation       object
dtype: object

In [65]:
# แปลง 'High', 'Low', 'Average' ของ Spending_Score เป็น 2 1 0 และ 'Yes', 'No' เป็น '1', '0'
df.replace({'High':2},inplace=True)
df.replace({'Average':1},inplace=True)
df.replace({'Low':0},inplace=True)
df.replace({'Yes':1},inplace=True)
df.replace({'No':0},inplace=True)

In [66]:
# save ข้อมูลทั้งหมดให้เป็นประเภท .csv และ .xls
df.to_csv('Data Change.csv', index=False)
df.to_excel('Data Change.xls', index=False)